services:
  node-app:
     container_name:  node-app-container
     build: .
     ports:
       - "4000:4000"
     env_file:
       - ./.env
     depends_on:
       - mongo
       - redis
   
  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-db:/data/db

  mongo-express:
      image: mongo-express
      restart: always
      ports:
        - 8081:8081
      environment:
        ME_CONFIG_MONGODB_URL: mongodb://root:example@mongo:27017/
        ME_CONFIG_BASICAUTH_USERNAME: root
        ME_CONFIG_BASICAUTH_PASSWORD: example

      depends_on:
        - mongo
  
  redis:
    image: "redis"
    container_name: "redis-container"
    ports:
      - "6379:6379"
  
volumes:
  mongo-db:
   